.header{
    background-color:white;
    display: flex;
    height:80px;
}
.box-1{
    background-color: teal;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    width:220px;
    margin:10px;
    margin-left: 20px;
    -webkit-text-fill-color: white;
    position: absolute;
    left:100px;
}
.menu{
    position: absolute;
    left:850px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding:0;
    width:200px;
    color:rgb(172, 172, 172);
    line-height: 44px;
    vertical-align: middle;
    
}
.menu li{
    list-style: none;
}
.body1{
    width:100%;
    height:400px;
    margin:0;
    padding:0;
    display: flex;
    border:100px green;
    background-color: rgb(168, 177, 182);
}
.main-box{
    background-color: white;
    position: absolute;
    left:100px;
    padding:20px;
    width: 40em;
    margin: 20px;
}
.contact{
    font-size: 3em;
    color:teal;
    border-bottom:1.5px solid lightgray;
}
.input-box li{
    list-style: none;
    -webkit-padding-start: 0px;
    margin:4px;
}
.right-box{
    background-color: white;
    padding:20px;
    width: 13em;
    height:20%;
    margin: 20px;
    position: absolute;
    left:850px;
}
.right-box1{
    font-size: 1.8em;
    color:teal;
    border-bottom:1px solid lightgray;
}
.right-box2{
    display: flex;
    justify-content: space-between;
    height:50px;
    width:180px;
    font-size: 3em;
    padding-top:10px;
    padding-bottom: 10px;
}
.fa-github-square{
    color:black;
}
.fa-linkedin{
    color:rgb(34, 34, 228);
}
.fa-stack-overflow{
    color:orange;
}
.footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: grey;
    border-top:5px solid green;
    text-align:center;
    vertical-align: middle;
}