.header{
    background-color:white;
    display: flex;
    justify-content: space-around;
}
.box-1{
    background-color: teal;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin:10px;
    -webkit-text-fill-color: white;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.menu li{
    list-style: none;
}
.body1{
    width:100%;
    height:400px;
    position: relative;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-around;
    border:100px green;
    background-color: rgb(168, 177, 182);
}
.main-box{
    background-color: white;
    padding:20px;
    width: 30em;
    margin: 20px;
}
.contact{
    font-size: 3em;
    color:teal;
    border-bottom:1px solid lightgray;
}
.input-box li{
    list-style: none;
    -webkit-padding-start: 0px;
    margin:4px;
}
.right-box{
    background-color: white;
    padding:20px;
    width: 18em;
    height:30%;
    margin: 20px;
}
.right-box1{
    font-size: 2em;
    color:teal;
}
.right-box2{
    display: flex;
    justify-content: space-between;
    height:50px;
    width:180px;
    font-size: 3em;
}
.footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
    line-height: 60px;
    background-color: grey;
    border-top:5px solid green;
    text-align:center;
    vertical-align: middle;
}