.header{
    background-color:white;
    display: flex;
    justify-content: space-around;
}
.box-1{
    background-color: teal;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    border: 5px solid pink;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.menu li{
    list-style: none;
    
}